@font-face {
    font-family: 'itc-fonts';
    src: url('../assets/fonts/itcavantgardestd-bk.otf') format('truetype'),
    ('../assets/fonts/itcavantgardestd-bk.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }