    $primary: #6367E7;
    $white: #FFFFFF;
    $black: #000;
    $label-primary: #14142A;
    $label-secondary: #4E4B66;
    $label-placeholder: #A0A3BD;
    $background: #F7F7FC;
    $input-background: #EFF0F6;
    $seperator: #D9DBE9;
    $background-menu: #140D33;
    $purple: #B32AEC;
    $Junior-text: #109CF1;
    $Senior-text: #2ED47A;
    $CTO-text: #B32AEC;
    $Lead-text: #001dff24;
    $divider-color: #D9DBE9;

    $shadow: 0px 4px 6px rgba(217, 219, 233, 0.3);